<div class="container-fluid pt70 pb70">
	<div id="fh5co-projects-feed" class="fh5co-projects-feed clearfix masonry">
		<% students.forEach((student, i) => { %>
			<div class="fh5co-project shadow masonry-brick">
				<a href="/<%= student.id %>/show">
					<img src="/images/avatars/avatar-<%= student.picture %>.png" style="width: 100%;" alt="<%= student.name %>">
					<h2 style="margin-bottom: 10px;"><%= student.name %></h2>
					<p style="margin-bottom: 0"><%= student.substation %></p>
					<p style="font-size: 12px;"><%= student.role %></p>
				</a>
			</div>
		<% }) %>
	</div>
	<!--END .fh5co-projects-feed-->
</div>
