		<div class="page-content shadow" style="padding: 30px; margin-bottom: 30px">
			<h1 class="mb0 capitalize"><%= student.nama %> <small><%= student.kota_asal %></small></h1>
			<div class="meta">
				<span class="capitalize">Backend Developer</span>
				,
				<span class="uppercase"><%= student.cabang_sekarang %></span>
			</div>
			<p class="text-center">
				<img src="/images/avatars/avatar-<%= student.foto ? student.foto : Math.ceil(Math.random() * 5) %>.png" alt="<%= student.nama %>">
			</p>
			<p><%= student.about %></p>
			<p>
				You can contact <b class="capitalize"><%= student.nama %></b> using this email address <a href="mailto:<%= student.email %>"><%= student.email %></a>
				<br />
				or on whatsapp <code><%= student.no_telp %></code>
			</p>
			  <table class="table">
			    <tbody>
			    	<tr>
			    		<th>Nama</th>
			    		<td class="capitalize"><%= student.nama %></td>
			    	</tr>
			    	<tr>
			    		<th>Email</th>
			    		<td><%= student.email %></td>
			    	</tr>
			    	<tr>
			    		<th>Status</th>
			    		<td class="capitalize"><%= student.status_santri %></td>
			    	</tr>
			    	<tr>
			    		<th>Alamat</th>
			    		<td class="capitalize"><%= student.alamat %></td>
			    	</tr>
			    	<tr>
			    		<th>No Telp</th>
			    		<td><%= student.no_telp %></td>
			    	</tr>
			    </tbody>
			  </table>
			<p class="mb0">Skills :</p>
			<ul class="square">
				<li>Node JS</li>
				<li>Javascript</li>
				<li>PHP</li>
				<li>Laravel</li>
				<li>Bootstrap</li>
			</ul>
		</div>
